/* TODO: Change display types to see how width/height/padding behave */
.demo-inline {
  display: inline-block;
  width: 200px;
  background: #fee;
}
.demo-block {
  display: block;
  background: #eef;
  width: 100px;
}
